html, body{
    width: 100%;
    height: 100%;
}
body {
    /*background: url(images/bgnoise_lg.png) repeat;*/
    /*background: #f0f0f0;*/
    top: 0px;
    position: absolute;
}

.trans-all
{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.panel-heading
{
    font-family: Architects Daughter;
}
.tooltip
{
    font-family: Architects Daughter;
}

.modal:nth-child(2) {
    z-index: 1051 !important;
}
.modal-backdrop.in:nth-child(2) {
    z-index: 1041 !important;
}

.modal:nth-child(3) {
    z-index: 1052 !important;
}
.modal-backdrop.in:nth-child(3) {
    z-index: 1042 !important;
}

.modal:nth-child(4) {
    z-index: 1053 !important;
}
.modal-backdrop.in:nth-child(4) {
    z-index: 1043 !important;
}

.modal:nth-child(5) {
    z-index: 1054 !important;
}
.modal-backdrop.in:nth-child(5) {
    z-index: 1044 !important;
}

.modal:nth-child(6) {
    z-index: 1055 !important;
}
.modal-backdrop.in:nth-child(6) {
    z-index: 1045 !important;
}

.selected-nav-item
{
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    background-color: #583A52;
}

ul.scroll-menu {
    position: relative;
    display: inherit !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 0;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ul.scroll-menu-2x {
    max-height: 230px;
}

.navbar-bright {
    /*background-color:#111155;*/
    color:#fff;
}

.affix-top,.affix{
	position: static;
}
#sidebar
{
    height: 100%;
    background: #f9f9f9;
}

@media (min-width: 979px) {
 #sidebar.affix-top {
    position: static;
  	/*margin-top:30px;*/
  	/*width:200px;*/
  }
  
 #sidebar.affix {
    position: fixed;
    top:50px;
    width:232px;
  }
  
  #forms-list.affix-top {
    position: static;
  	/*margin-top:30px;*/
  	width:200px;
  }
  
 #forms-list.affix {
    position: fixed;
    top:50px;
    width:232px;
  }
}

#sidebar li.active {
  	border:0 #ab6361 solid;
  	border-right-width:4px;
}

#forms-list li.active {
  	border:0 #ab6361 solid;
  	border-right-width:4px;
}

.register-panel .input-group
{
    margin:15px 0px;
}

.dropdown-menu li 
{
    cursor: pointer;
}

.remove-item, .edit-item
{
    text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

#addNewFederationModal .input-group
{
    margin: 10px;
}

#items-table tr:hover span.id-holder
{
    visibility: hidden;
}

#items-table tr:hover span.remove-item, #items-table tr:hover span.edit-item
{
    display: block !important;
}

#items-table tr td
{
    cursor: pointer;
    white-space: nowrap;
}

#items-table tbody tr:hover
{
    background: #fff;
}

.outer-box
{
    height: 400px;
}

.map-success
{
    display: none;
    color: green;
    position: absolute;
    right: 8px;
    font-size: 34px;
    top: 8px;
}

.form-action
{
    float: right;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 5px;
}

.form-action:hover, .create-new-form:hover, .question-action:hover
{
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.remove-form:hover, .remove-question:hover
{
    color: firebrick;
}

.add-question:hover
{
    color: green;
}

.choice
{
    position:relative;
    
}

.remove-choice
{
    margin-left:5px;
    position:absolute;
    right:12px;
    top:12px;
    display: none;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.choice:hover .remove-choice
{
    display: block;
}

.remove-choice:hover
{
    color:firebrick;
}

.datepicker
{
    z-index: 1500 !important;
}

/*#createNewAppModal a
{
    color : #000;
}*/

.nav-list-item
{
    font-family: Architects Daughter;
}
#forms-panel .panel-heading a
{
    color: #fff !important;
    text-decoration: none !important;
}

.oz-question
{
    position: relative;
}