html, body{
    width: 100%;
    height: 100%;
}
body {
    /*background: url(images/bgnoise_lg.png) repeat;*/
    background: #f0f0f0;
    top: 0px;
    position: absolute;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}

.selected-nav-item
{
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    background-color: #eeeeee;
}

ul.scroll-menu {
    position: relative;
    display: inherit !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 0;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ul.scroll-menu-2x {
    max-height: 230px;
}

.navbar-bright {
    background-color:#111155;
    color:#fff;
}

.affix-top,.affix{
	position: static;
}
#sidebar
{
    height: 100%;
    background: #f9f9f9;
}

@media (min-width: 979px) {
 #sidebar.affix-top {
    position: static;
  	/*margin-top:30px;*/
  	width:200px;
  }
  
 #sidebar.affix {
    position: fixed;
    top:50px;
    width:232px;
  }
  
  #forms-list.affix-top {
    position: static;
  	/*margin-top:30px;*/
  	width:200px;
  }
  
 #forms-list.affix {
    position: fixed;
    top:50px;
    width:232px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#forms-list li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

.register-panel .input-group
{
    margin:15px 0px;
}

.dropdown-menu li 
{
    cursor: pointer;
}

.remove-item
{
    text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

#addNewFederationModal .input-group
{
    margin: 10px;
}

#items-table tr:hover span.id-holder
{
    visibility: hidden;
}

#items-table tr:hover span.remove-item
{
    display: block !important;
}

#items-table tr td
{
    cursor: pointer;
    white-space: nowrap;
}

#items-table tr td[editable="true"]:hover
{
    background: #fff;
}

.outer-box
{
    height: 400px;
}

.map-success
{
    display: none;
    color: green;
    position: absolute;
    right: 8px;
    font-size: 34px;
    top: 8px;
}
